CompileFlags:
  # Removes the legacy and incompatible flags
  Compiler: "C:/workspace/ThirdParty/llvm-mingw/bin/x86_64-w64-mingw32-clang++.exe"
  
#  Remove: [-fmodules-ts, -fdeps-format=p1689r5, -fmodule-mapper=*, -fdeps-format=*]
  # Ensures C++20 is active
  Add: [-std=c++23, -stdlib=libc++]


InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: No
  
Diagnostics:
  UnusedIncludes: None
  
  
  
  
  
  
  #  Remove: [
#    -fmodules-ts, 
#    -fdeps-format=p1689r5, 
#    -fmodule-mapper=*, 
#    -fdeps-format=*
#  ]
#  # Ensures C++20 is active
#  Add: [
#    -std=c++23, 
#    "-fmodules",
#    "-Wno-module-file-config-mismatch",
#    "-Wno-invalid-constexpr"
#  ]
  